header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 22;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
    .header{
        .logo{
            width: 147px;
            height: auto;
            margin-top: 16px;
            img{
                width: 100%;
                cursor: pointer;
                display: block;
            }
        }
        .header-right{
            display: flex;
            flex-basis: auto;
        }
        
        nav ul{
            display: flex;
            margin-bottom: 0!important;
            li{
                margin-left: 30px;
                font-weight: bold;
                font-size: 17px;
                a{
                    font-weight: 700;
                    text-transform: capitalize;
                    font-family: 'Nunito', sans-serif;
                    transition: .5s;
                    font-size: 17px;
                    padding: 24px 0 26px;
                    display: block;             
                    &:hover{
                        color: #6168FF;
                    }
                }
                
            }
        }
        .burger-menu{
            display: none;
            color: #6168FF;
            cursor: pointer;
        }
        
    }
}