@media (max-width:576px){
    header{
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        nav{
            display: none;
        }
        .burger-menu{
            display: inline!important;
            font-size: 24px;
        }
        .logo{
            margin-bottom: 15px;
        }
    }
    #first{
        .background{
            .spin{
                display: none!important;
            }
            .arrows{
                i{
                    display: none!important;
                }
                
            }
        }
        .background-text{
            h2{
                font-size: 40px!important;
            }
            h4{
                font-size: 20px!important;
            }
            a{
                font-size: 11px!important;
                padding: 11px 24px!important;
            }
        }
    }
    #second{
        .gp{
            gap: 10px!important;
        }
    }
    #third{
        .gp{
            gap: 10px!important;
        }
        .third-header{
            span{
                font-size: 35px!important;
            }
        }
        .third-arrows{
            display: none;
        }
    }
    #seventh{
        .partners{
            gap: 5px;
        }
        .gp{
            gap: 15px!important;
        }
    }
    #eighth{
        .eighth-header{
            span{
                font-size: 35px!important;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 1870px){
    #third{
        .third-arrows{
            display: none;
        }
    }
}
@media (min-width: 576px) and (max-width: 999px){
    #seventh{
        .gp{
            gap: 15px!important;
        }
    }
    #third{
        .gp{
            gap: 15px!important;
        }
    }
}
@media (min-width: 576px) and (max-width: 872px){
    header{
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        nav{
            display: none;
        }
        .burger-menu{
            display: inline!important;
            font-size: 25px;
        }
        .logo{
            margin-bottom: 16px;
        }
    }
    #first{
        .background{
            .spin{
                display: none!important;
            }
        }
        .arrows{
            display: none!important;
        }
    }
}